.annotation-box {
  position: absolute;
  background: rgba(86, 104, 217, 0.2) 0% 0% no-repeat padding-box;
  border: 3px solid #5668d9;
  cursor: pointer;
  user-select: none;
}

.btn {
  appearance: none;
  border: none;
  margin-bottom: 8px;
  background-color: #fff;
  cursor: pointer;
}

.anchor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.anchor .anchor-box {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #5668d9;
  background-color: #fff;
}

.anchor .anchor-pillar {
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 50px;
  margin-top: -50px;
  background-color: #5668d9;
  transform: translateX(-50%);
}

.anchor .anchor-box.left-top-center-round {
  left: 50%;
  top: 0;
  margin-top: -50px;
  transform: translateX(-50%);
  border-radius: 50%;
}

.anchor .anchor-box.left-top {
  left: 0;
  top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

.anchor .anchor-box.right-top {
  right: 0;
  top: 0;
  margin-right: -10px;
  margin-top: -10px;
}

.anchor .anchor-box.left-bottom {
  left: 0;
  bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.anchor .anchor-box.right-bottom {
  right: 0;
  bottom: 0;
  margin-right: -10px;
  margin-bottom: -10px;
}

.anchor .anchor-box.left-middle {
  left: 0;
  top: 50%;
  margin-left: -10px;
  transform: translateY(-50%);
}

.anchor .anchor-box.right-middle {
  right: 0;
  top: 50%;
  margin-right: -10px;
  transform: translateY(-50%);
}

.anchor .anchor-box.top-center {
  left: 50%;
  top: 0;
  margin-top: -10px;
  transform: translateX(-50%);
}

.anchor .anchor-box.bottom-center {
  left: 50%;
  bottom: 0;
  margin-bottom: -10px;
  transform: translateX(-50%);
}
